/**
 * login.scss
 *
 * These styles apply to the login page.
 *
 * Index
 * - Login
 *   |- Background image
 *   |- Form login
 *     |- Title
 *     |- Form field
 *     |- Flag password
 *     |- Button
 *     |- Link
*/
// variable import
@import "../base/variables";

// /*---| Login |---*/
.login {
  position: relative;
  height: 100vh;
  min-height: 35rem;
  @media(min-width: 1024px) {
    min-height: 42rem;
  }
  //Background image
  &::before {
    content: '';
    background: url('../../images/bg-login-mobil.png') center/cover no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    @media(min-width: 768px) {
      background: url('../../images/bg-login-desktop.png') center/cover no-repeat;
    }
  }
  //Form login
  .box-form {
    position: absolute;
    top: 19.9rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $black;
    height: 446px;
    @media(min-width: 1024px) {
      top: 22rem;
    }
    @media(min-width: 1450px) {
      top: 50%;
    }
    @media(min-width: 2400px) {
      top: 23.5rem;
    }
    form {
      display: flex;
      flex-direction: column;
      //Title
      .title-form {
        margin-bottom: 77px;
        @media(min-width: 1024px) {
          margin-bottom: 48px;
        }
        @media(min-width: 1450px) {
          margin-bottom: 14%;
        }
        h2  {
          text-transform: uppercase;
          font-size: 3rem;
          color: white;
          -webkit-text-stroke: 0;
          @media(min-width: 576px) {
            font-size: 4.9rem;
            letter-spacing: 10px;
            font-weight: 900;
          }
        }
      }
      //Form field
      .form-group {
        margin: 0 auto 10px;
        @media(min-width: 1024px) {
          margin: 0 auto 26px;
        }
        input {
          height: 47px;
          width: 255px;
          font-family: $g-black;
          font-size: 1rem;
          color: $black;
          text-align: center;
          &::placeholder {
            color: $black;
            text-transform: uppercase;
          }
          @media(min-width: 768px) {
            width: 390px;
            font-family: $g-medium;
          }
          @media(min-width: 1024px) {
            height: 63px;
            font-size: 1.2rem;
          }
          @media(min-width: 1450px) {
            height: 75px;
            width: 420px;
          }
        }
        &:nth-child(3) {
          margin: 0 auto 6px;
          input {
            border: 2px solid $red;
          }
          ::placeholder {
            color:$red;
          }
        }
      }
      //Flag password
      small {
        color: $red;
        text-align: left;
        padding: 0 12px;
        font-family: $g-black;
        font-size: 1.1rem;
        margin-bottom: 20px;
        width: 255px;
        line-height: 1;
        text-align: center;
        @media(min-width: 768px) {
          padding: 0 5px;
          font-size: 1.3rem;
          letter-spacing: -0.5px;
          width: 390px;
        }
      }
      //Button
      .button-fifth {
        margin: 28px auto 18px;
        @media(min-width: 1450px) {
          width: 260px;
        }
        input {
          width: 100%;
          @media(min-width: 1450px) {
            font-size: 1.4rem;
          }
        }
        @media(min-width: 1024px) {
          margin: 44px auto 18px;
        }
      }
      //Link
      a {
        color: $white;
        font-family: $g-black;
        font-size: 1.1rem;
        text-decoration: underline;
        @media(min-width: 1024px) {
          font-size: 1.3rem;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}
