/**
 * recover-password.scss
 *
 * These styles are those of the recover password page which are shared with the login page since they retain the same structure.
 *
 * Index
 * - Recover password 
 *   |-Text success
 *   |-Button
*/
// variable import
@import "../base/variables";

// /*---| Recover password |---*/
.recover-password {
  .box-form-rocovery{
    form .title-form h2 {
      @media(min-width: 1024px) {
        font-size: 5rem;
      }
      @media(min-width: 2000px) {
        font-size: 6rem;
      }
    }
     //Text success
     .text-success {
      color: green;
      padding: 0 12px;
      font-family: $g-black;
      font-size: 1.1rem;
      width: 255px;
      line-height: 1;
      text-align: center;
      margin: 5px auto;
      @media(min-width: 768px) {
        font-size: 1.3rem;
        letter-spacing: -0.5px;
        width: 390px;
      }
    }
    //Button
    .link {
      font-family: $g-black;
      font-size: 1.1rem;  
      margin: 15px auto;
      text-decoration: none;
    }
  }
}