/**
 * recover-password.scss
 *
 * These styles are those of the recover password page which are shared with the login page since they retain the same structure.
 *
 * Index
 * - Recover password 
 *   |-Button
*/
// variable import
@import "../base/variables";

// /*---| Recover password |---*/
.recover-password {
  //Button
  .link {
    font-family: $g-black;
    font-size: 1.1rem;  
    margin: 15px auto;
    text-decoration: none;
  }
}