/**
 * register-full.scss
 *
 * These styles are for successful registration.
 *
 * Index
 * - Regist Full
 *   |- Background image
 *   |- Box regist
 *     |- Title
 *     |- Description
 *     |- Button
 */
// import variable sheet
@import "../base/variables";
// /*---| Regist Full |---*/
.regist-full {
  position: relative;
  height: 125vh;
  min-height: 35rem;
  @media(min-width: 1024px) {
    height: 100vh;
  }
  //Background image
  &::before {
    content: '';
    background: url('../../images/bg-gatorade-cicle-mobil.png') center/cover no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    @media(min-width: 768px) {
      background: url('../../images/bg-gatorade-cicle.png') center/cover no-repeat;
    }
  }
  .row {
    flex-direction: row-reverse;
  }
  //Box regist
  .box-register {
    max-width: 100%;
    margin-top: 8.5rem;
    text-align: center;
    @media(min-width: 768px) {
      margin-top: 11.3rem;
    }
    @media(min-width: 1500px) {
      margin-top: 15.6rem;
      padding-left: 34px;
    }
    @media(min-width: 2000px) {
      margin-top: 21.5rem;
      padding-left: 57px;
    }
    //Title
    h2  {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 3rem;
      color: white;
      -webkit-text-stroke: 0;
      line-height: 1.1;
      padding: 0 3.2rem;
      @media(min-width: 576px) {
        font-size: 4.9rem;
        letter-spacing: 5.8px;
        text-align: left;
        padding: 0.8rem 1.3rem 0;
        line-height: 1;
      }
      @media(min-width: 1500px) {
        font-size: 6.6rem;
        line-height: 112px;
      }
      @media(min-width: 2000px) {
        font-size: 8.9rem;
        line-height: 0.9;
      }
    }
    //Description
    p {
      height: auto;
      max-height: 160px;
      min-height: 100px;
      overflow: hidden;
      font-family: $h-neue;
      font-size: 1.1rem;
      font-weight: 100;
      line-height: 1.2;
      text-align: left;
      color: $white;
      padding: 0.8rem 1.8rem;
      width: 290px;
      margin: 40px auto 0;
      @media(min-width: 380px) {
        max-height: 199px;
        width: 25rem;
        padding: 0.8rem 1.5rem;
        margin: 7px 0;
      }
      @media(min-width: 1500px) {
        width: 34.1rem;
        padding: 0.8rem 1rem;
        margin: 18px 2px;
        font-size: 1.5rem;
      }
      @media(min-width: 2000px) {
        width: 45rem;
        margin: 30px 2px;
        font-size: 1.9rem;
        letter-spacing: 0.3px;
      }
    }
    //Button
    .button-second {
      margin: 75px auto 0;
      @media(min-width: 576px) {
        margin: 36px 0 0 40px;
      }
      @media(min-width: 1500px) {
        margin: 56px 0 0 40px;
      }
      @media(min-width: 2000px) {
        margin: 85px 0 0 40px;
      }
    }
  }
}
